.body {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 50%;
}

.weather {
    padding-right: 10px;
}

.time{
    margin: 0;
    padding: 0;
}

.poppinsBold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppinsMedium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
